.navbar {
  box-shadow: 2px 2px 5px #000; /* Agrega una sombra al navbar con desplazamiento horizontal de 2px, desplazamiento vertical de 2px y difuminación de 5px, utilizando un color negro (#000) */
  opacity: 0.9; /* Establece la opacidad del navbar al 90% */
}

.navbar .nav-item .nav-link {
  color: #fff; /* Establece el color del texto de los enlaces del navbar como blanco (#fff) */
}

.main-header {
  position: relative; /* Establece la posición del elemento principal como relativa con respecto a su contenedor padre */
  background: url(../img/background.jpg); /* Establece una imagen de fondo para el encabezado principal */
  background-size: cover; /* Hace que la imagen de fondo cubra todo el área del encabezado */
  min-height: 700px; /* Establece la altura mínima del encabezado principal en 700 píxeles */
}

.img-fluid {
  max-width: 130%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  image-rendering: -webkit-optimize-contrast; /* Mejora la calidad de visualización en navegadores webkit */
  image-rendering: crisp-edges; /* Proporciona bordes nítidos en navegadores modernos */
  image-rendering: pixelated; /* Muestra la imagen con píxeles visibles para navegadores compatibles */
  border-radius: 10px; /* Agrega bordes redondeados a la imagen con un radio de 10 píxeles */
  min-height: 650px;
}

.background-overlay {
  background: rgba(31, 41, 36, 0.81); /* Establece un color de fondo semitransparente utilizando el modelo de color RGBA */
  top: 0; /* Coloca el elemento en la parte superior de su contenedor */
  left: 0; /* Coloca el elemento en el extremo izquierdo de su contenedor */
  width: 100%; /* Establece el ancho del elemento al 100% del ancho del contenedor */
  height: 100%; /* Establece la altura del elemento al 100% de la altura del contenedor */
  min-height: 700px;
}

.accordion{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control, .btn{
  border-radius: 0; /* Elimina cualquier borde redondeado predeterminado de los controles de formulario y los botones */
}

.team, footer {
  background: #242342; /* Establece el color de fondo de la sección de equipo y del pie de página como un verde oscuro (#306b3d) */
}

/* Estilos para las tarjetas */
.custom-card {
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white; /* Fondo blanco para las tarjetas */
  display: flex; /* Utilizamos flexbox para alinear las tarjetas */
}

.custom-card-body {
  padding: 20px;
  flex: 1; /* Hace que todas las tarjetas tengan la misma altura */
}

.custom-card-img {
  width: 150px; /* Ancho fijo para las imágenes */
  height: 150px; /* Altura fija para las imágenes */
  object-fit: cover;
  border-radius: 50%;
}

.custom-card-text {
  font-size: 1rem;
  color: #6c757d;
}

.col-lg-3.align-self-center img {
  width: 200px; /* Ajusta el ancho del icono según tu preferencia */
  margin-top: 10px; /* Ajusta la distancia del icono desde la parte superior del contenedor */
  margin-left: 120px;
}