.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
  }
  
  .navbar .nav-item .nav-link {
    color: #fff;
  }
  
  .main-header {
    position: relative;
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 700px;
  }

  .img-fluid {
    max-width: 100%; /* Ajusta el ancho máximo al tamaño del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    image-rendering: -webkit-optimize-contrast; /* Mejora la calidad de visualización en navegadores webkit */
    image-rendering: crisp-edges; /* Para navegadores modernos */
    image-rendering: pixelated; /* Para navegadores que soportan la propiedad pixelated */
    border-radius: 10px; /* Agrega bordes redondeados pero mantiene la forma rectangular */
  }
  
  .background-overlay {
    background: rgba(31, 41, 36, 0.81);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .form-control, .btn{
    border-radius: 0;
  }
  
  .team, footer {
    background: #306b3d;
  }